.navigation__menu {
  display: none;
  position: absolute;

  top: 100%;
  right: 0;
  left: 0;

  padding-top: 30px;

  background-color: antiquewhite;
  list-style: none;

  z-index: 1;
  &.is-open {
    display: block;
  }
}

.navigation__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding-right: 50px;
}

.menu__list-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  color: #22262a;
}

.divider {
  margin: 0 auto;
  // height: 2px;
  overflow: hidden;
  // background-color: black;
  padding: 10px 0;
}
.divider svg {
  margin-right: 15px;
}

.container-contacts {
  width: 100%;
}
.menu__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.menu__contacts-item {
  margin-right: 15px;
}
