.header {
  position: relative;
}

.btn__burger {
  display: inline-flex;
  width: 40px;
  height: 40px;

  padding: 0;
  margin-left: auto;

  color: currentColor;
  background-color: transparent;
  outline: none;
  border: none;

  cursor: pointer;

  &.is-open .icon__closes {
    display: block;
  }

  &.is-open .icon__open {
    display: none;
  }
}

.icon__closes {
  display: none;
}
