.hero {
  position: relative;
  padding: 50px 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background-image: url('../images/hero/header-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-bottom: 40px;

  font-size: 17px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #22262a;
}

.hero__btn {
  display: flex;
  align-items: center;

  padding: 5px 19px;
  min-width: 135px;

  font-size: 12px;
  line-height: 1.29em;
  letter-spacing: 1.96px;

  color: #ffffff;

  background-color: #3d5675;
  border-radius: 44px;

  text-transform: uppercase;
}

.hero__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;

  margin: -7px;
}

.hero__card-item {
  margin: 7px;

  transform: rotate(-15deg);

  border-radius: 10px;
  overflow: hidden;
}
